@import "tailwindcss";
/* Inter Font Family */

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-Variable.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("./assets/fonts/ClashGrotesk-ExtraLight.ttf");
  font-weight: 200;
}

@theme {
  --color-lightgoldcolorsix: #f9f4ec;
  --color-textcolor: #a0a7bc;
  --color-navigationbackground: #e6d1b2;
  --color-accientblue: #006eff;
  --color-textblack: #0a0b0e;
  --color-goldcolor: #2b1f0e;
  --color-lightgoldcolor: #c79852;
  --color-lightgoldcolorfive: #f1e5d4;
  --font-clashgrotesk: "Clash Grotesk", sans-serif;
}

/* Theme Configuration */
/* @theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-lato: "Lato", ui-sans-serif, system-ui, sans-serif;
} */

@layer base {
  body {
    @apply antialiased;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

@layer components {
}
